## Pandas
Pandas es un paquete de Python para trabajar con datos relacionales o etiquetados. La dos estructuras principales de sus datos son las SERIES (unidimensional) y los DATAFRAME (bidimensionales)

<img src = "pandas1.jpg"/>

Cada columna del data frame es una serie.

Antes de usar pandas, debemos importar esta libreria, para ello se escribe la siguiente setencia:

*import pandas as pd*

In [4]:
import pandas as pd

Veamos ahora como podemos crear un data frame de manera "manual"

Antes de realizar esto, recordemos qu√© es una lista y un diccionario en python.
Una *lista* es una coleccion de elementos cualesquiera. Se escriben dentro de corchetes y separados por comas. Son dinamicas ya que se pueden agregar,, eliminar y reasignar sus elementos
 Ejemplo:

A= [1, "Manuel", True, "a"] 

Un *diccionario* es un conjunto de datos que tiene clave y valor. Se escribe entre llaves y la clave y el valor van separados por dos puntos.
Ejemplo.

D = {"Venezuela" : 3000, "Chile": "Santiago"}

In [5]:
data = {"year":[
        2010, 2011, 2012,
        2010, 2011, 2012,
        2010, 2011, 2012
], "team" : [
        "FcBarcelona", "FcBarcelona", "FcBarcelona",
        "RMadrid", "RMadrid", "Rmadrid",
        "ValenciaCF", "ValenciaCF", "ValenciaCF" 
],
    "wins" : [30, 28, 32, 29, 32, 26, 21, 17, 19],
    "draws": [6, 7, 4, 5, 4 , 7, 8, 10, 8],
    "losses":[2, 3, 2, 4, 2, 5, 9, 11, 11]

}

football = pd.DataFrame(data)

football

   year         team  wins  draws  losses
0  2010  FcBarcelona    30      6       2
1  2011  FcBarcelona    28      7       3
2  2012  FcBarcelona    32      4       2
3  2010      RMadrid    29      5       4
4  2011      RMadrid    32      4       2
5  2012      Rmadrid    26      7       5
6  2010   ValenciaCF    21      8       9
7  2011   ValenciaCF    17     10      11
8  2012   ValenciaCF    19      8      11

In [6]:
football["year"] # esto es una serie

0    2010
1    2011
2    2012
3    2010
4    2011
5    2012
6    2010
7    2011
8    2012
Name: year, dtype: int64

In [9]:
football["year"].values # convertido a arreglo

array([2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012], dtype=int64)